:root {
  --fz-main: 1em;
  --fz-50: 50px;
  --fz-49: 49px;
  --fz-40: 40px;
  --fz-34: 34px;
  --fz-30: 30px;
  --fz-24: 24px;
  --fz-21: 21px;
  --fz-20: 20px;
  --fz-18: 18px;
  --fz-16: 16px;
  --fz-14: 14px;
  //text-color
  --text-main-color: #000000;
  --text-dark-grey: #333;
  --text-white-color: #ffffff;
  --text-red-color: #E52322;
  --text-green-color: #00923a;

  //--bg-color
  --bg-header: #1F5C53;
  --bg-white: #ffffff;
  --bg-main-color: #206A60;
  --bg-green-color: #00923a;

}